*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}
h1{
    background-color: rgb(39, 35, 35);
    color: white;
    height: 100px;
    line-height: 100px;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 40px;
}
.choice{
    width: 170px;
    height: 170px;
    display: flex;
   object-fit: cover;

}
.choice img:hover{
    border-radius: 50%;
    border:7px solid black;
    cursor: pointer;
}
.score-board{
    display: flex;
    gap: 9rem;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.score{
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 20px;
}
.msg{
    margin-top: 40px;
   
}
.msg p{
    display: inline;
    background-color: rgb(39, 35, 35);
    font-size: 2.5rem;
    color: white;
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 1rem;
}